<div class="container">
  <h1 class="text-center mb-5">Mon Panier</h1>
  
  <% @cart.items.each do |item| %>
    <div class="row">
      <div class="col-md-6">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="https://cdn.pixabay.com/photo/2013/04/01/03/45/cat-98359_960_720.jpg" alt="">
        </a>
      </div>
      <div class="col-md-6">
        <h3><%= item.title %></h3>
        <p><%= item.description %></p>
        <p><%= item.price.round(2)%> EUR</p>
        <p>Quantité : <%= @quantity %></p>
        <%= link_to "Voir mes moustaches", item_path(item.id), class: "btn btn-info"%><br>
        <br>
        <br>
        <%= link_to "Allez, supprime moi", nil, class: "btn btn-danger"%><br>
        <br>
        <%= link_to "Add one", cart_details_add_path(:id_cart_detail), method: :post, class: "btn btn-warning" %><br>
        <br>
        <%= link_to "Reduce one", cart_details_reduce_path(:id_cart_detail), method: :post, class: "btn btn-warning"%><br>
      </div>
    </div>
    <hr>
  <% end %>
  <h1 class="text-center mb-5">Total de la commande : <%= @total_amount %> EUR</h1>
  <div class="text-center mb-5">
  
    <%= form_tag orders_path(:price => @total_amount*100) do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Réservation de ton chaton"
            data-amount="<%= @total_amount *100 %>"
            data-locale="auto"></script>
    <% end %>
  </div>
  <br>
  <br>
  <br>
</div>
