<div>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @item.title %></h5>
    <p class="card-text"><%= @item.description%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Prix: <%= @item.price.round(2)%> EUR</li>
    <li class="list-group-item">id <%= @item.id%> </li>
  </ul>
  <div class="card-body">
  <p><%= link_to "Ajouter au Panier", user_cart_path(current_user.id,current_user.carts.last.id, index: @item.id), method: "put", class: "btn btn-primary"%></p>
  </div>
</div>
</div>